*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.parent{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10 12vw;
}

.child-1 img{
    width: 150px;
}
.child-1{
    display: flex;
    align-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
}

a  button{
    background-color: rgb(98, 157, 176);
}

.child-1 div  {
    display: flex;
    gap: 30px;

}


.header-right {
    padding: 10px;
    font-size: large;
    gap: 10px;
}


.header-right button{
    padding: 14px 20px;
    background-color: rgb(17, 153, 199);
    color: white ;
    border-radius: 4px;

}

.parent-1{
    padding-left: 12vw;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}
.hero{
    padding: 20px;
}

.para1{
    padding-bottom: 30px;
}

.hero h1  {

     font-size: xx-large;
}

  
.hero button{
     padding-top:10px;
    background-color: rgb(17, 153, 199);
    color: white ;
    border-radius: 4px;

}

.hero-1{
    overflow: hidden;
    width: 46vw;
}

.para {
 display: flex;
 align-items: center;
}



.marquee-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background-color: #1a181e;
}

.marquee-track {
  display: flex;
  gap: 40px;
  width: fit-content;
}

.marquee-left {
  animation: marquee-left 20s linear infinite;
}

.scroll-card {
  /* background: #fff; */
  margin-right: 30px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-card img {
  width: 80%;
  border-radius: 8px;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Pause on hover */
.marquee-container:hover .marquee-left,
.marquee-container:hover .marquee-right {
  animation-play-state: paused;
}

.text{
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* marquee end */


.img-1{
    display: flex;
    justify-content: space-around;

}

.img-11{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}